.place__website-link {
  color: white;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  margin-top: 12px;
  transition: opacity 0.5s linear;
}

.place__website-link:hover {
  opacity: 0.8;
}